@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
  margin: 0;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
